mat-card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.tile {
  //border-style: solid;
  display: grid;

  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 4fr auto 1fr;
  grid-template-areas:
    '. top .'
    'left main right'
    '. bottom .'
    'element element element';

  .tile--main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tile--element {
    grid-area: element;
    &.tile-child {
      justify-self: start;
    }
  }
  .tile--cardelement {
    grid-area: cardelement;
  }
  .tile--name {
    grid-area: name;
  }
  .tile--modifier {
    grid-area: modifier;
  }
  .tile--top {
    grid-area: top;
  }
  .tile--right {
    grid-area: right;
  }
  .tile--bottom {
    grid-area: bottom;
  }
  .tile--left {
    grid-area: left;
  }

  .tile-child {
    justify-self: center;
    align-self: center;
  }
}
