table {
  width: 100%;
  max-width: 525px;
}

td.mat-column-gameId {
  width: 75px;
}

td.mat-column-actions {
  width: 150px;
}

.actions--buttons {
  display: flex;
  justify-content: space-between;
}
