mat-card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.tile {
  display: grid;
  height: 100%;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    'modifier element'
    'card card';

  .tile--main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tile--element {
    grid-area: element;
    justify-self: end;
  }
  .tile--modifier {
    grid-area: modifier;
  }
  .tile--card {
    grid-area: card;
  }

  .tile-child {
    align-self: center;
  }
}
